.title span {
    position: relative;
    animation: letter_animation .5s ease-in-out forwards;
}

@keyframes letter_animation {
    from {
        opacity: 0;
        bottom: -15px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    color: white;
    white-space: nowrap;
}

.copyright a {
    color: inherit;
    text-decoration: none;
}

div.colorFull {
    border-collapse: collapse;
    animation: animated_border 3s infinite linear alternate;
}

.colorFull {
    animation: animated_text 3s infinite linear alternate;
}

@keyframes animated_border {
    0% {
        border-color: rgba(72, 200, 250, 1);
    }
    33% {
        border-color: rgba(181, 102, 249, 1);
    }
    100% {
        border-color: rgba(229, 48, 81, 1);
    }
}

@keyframes animated_text {
    0% {
        color: rgba(72, 200, 250, 1);
    }
    33% {
        color: rgba(181, 102, 249, 1);
    }
    100% {
        color: rgba(229, 48, 81, 1);
    }
}

@keyframes animated_background {
    0% {
        background-color: rgba(72, 200, 250, 1);
    }
    33% {
        background-color: rgba(181, 102, 249, 1);
    }
    100% {
        background-color: rgba(229, 48, 81, 1);
    }
}

.height100 {
    height: 100vh;
}

.Main {
    background-color: #101010;
    height: 100vh;
    border-left: 1px solid;
    border-right: 1px solid;
}

.Main .check_control {
    width: 100%;
    min-height: 50px;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
}

.check_control label {
    color: white;
    border-bottom: 2px dotted #ffffff;
    cursor: help;
}

.check_control input {
    border: 0;
    background-color: transparent;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    width: 30%
}

.check_control button {
    animation: animated_background 3s infinite linear alternate;
    color: white;
    font-weight: bolder;
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

.instruction {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    word-wrap: break-word;
}

.main_component_display {
    width: 100%;
}

.main_component_display td:first-of-type {
    width: 1%;
    white-space: nowrap;
}

.main_component_display td:nth-of-type(2) {
    width: fit-content;
    max-width: 40%;
}

.main_component_display, .main_component_display tr, .main_component_display th, .main_component_display td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.main_component_display td {
    color: inherit;
}

.compatible {
    background-color: rgba(0, 255, 0, 0.5);
}

.notcompatible {
    background-color: rgba(255, 0, 0, 0.5);
}

.notinlist {
    background-color: rgba(49, 49, 49, 0.5);
}

.unrecognized {
    background-color: #be0064;
}

.Main * {
    color: white;
}

.height30 {
    height: 30vh;
}

.height70 {
    height: 70vh;
}

.data_section {
    background-color: #101010;
}

.comments_wrapper {
    border: 0;
    border-top: 1px solid;
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    color: white;
    animation: animated_border 3s infinite linear alternate;
}

#bad_component_container {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

#bad_component_container::-webkit-scrollbar {
    width: 5px;
}

#bad_component_container::-webkit-scrollbar-thumb {
    background-color: #6000b0;
    border-radius: 10px;
}

#bad_component_container div {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#bad_component_container div p {
    opacity: 0.7;
}

#bad_component_container div h5 {
    margin: 0;
}

#bad_component_container div.not-compatible {
    background-color: rgba(255, 0, 0, 0.7);
}

#bad_component_container div.no-component {
    background-color: rgba(54, 54, 54, 0.7);
}

#bad_component_container span {
    font-weight: bolder;
    color: white;
    font-size: 13px;
}

.test_percent_wrapper {
    border-right: 1px solid;
}